.month {
	margin-top: 50px;
}

.month .box-month {
 box-shadow: -10px -5px 40px 0 rgba(0, 0, 0, 0.1);
 padding: 30px;
 text-align: left;
 border-radius: 10px;
 width: 100%;
 background: #fff;
}

.box-main {
	width: 500px;
}

.choose-title {
	padding: 0 0 0 0;
 margin: 0;
 color: #404040;
 font-family: "Montserrat", sans-serif;
 font-size: 28px;
}

.input-month {
	width: 100%;	
	padding: 10px;
 height: 50px;
	font-weight: 700;
	border-radius: 10px;
	border: none	;
	border-color: #fff;
	background-color: #CDE3EF;
 align-items: center;
}

.button-report {
 font-family: "Montserrat", sans-serif;
 font-weight: 700;
 font-size: 18px;
 width: 100%;
	height: 50px;
 border-radius: 4px;
 transition: 0.5s;
 text-decoration: none;
 color: #fff;
 border-style:none;
 background: #42B2FA;
 border-radius: 10px;
 box-shadow: 0px 5px 30px rgba(216, 220, 255, 0.4);
}




@media (max-width:900px ) {
	.box-main {
		justify-content: center;
		margin-top: 0px;
	}

 .box-month p{
  padding: 0px;
		font-size: 20px	;
  text-align: center;
		align-items: center;
 }

	.box-month {
		text-align: center;
	}

	.main-month {
		width: 100%;
		height: 100%;
	}
	.input-month {
		height: 50px;
		width: 100%;
		font-weight: 700;
		margin-bottom: 20px;
		text-align: center;
		font-size: 15px;
	}

	.button-report {
		height: 50px;
		width: 100%;
		font-size: 15px;
	}
}