.menu-bulan {
 width: 50%;
 height: 200px;
 background-color: #fff;
 border-radius: 20px;
}

.pilih-bulan {
 align-items:baseline;
 padding: 30px;
}

.pilih-bulan h1 {
 font-size: 28px;
 font-weight: 600;
}

select{
	height:48px;
	width:50%;
	font-size:18px;
 float: left;
}