/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/

.counts .count-box-pemasukan {
 box-shadow: -10px -5px 40px 0 rgba(0, 0, 0, 0.1);
 padding: 30px;
 text-align: center;
 border-radius: 10px;
 width: 100%;
 background: #13AD96;
}

.counts .count-box-saldo {
 box-shadow: -10px -5px 40px 0 rgba(0, 0, 0, 0.1);
 padding: 30px;
 text-align: center;
 border-radius: 10px;
 width: 100%;
 background: #709FB9;
}

.counts .count-box-pengeluaran {
 box-shadow: -10px -5px 40px 0 rgba(0, 0, 0, 0.1);
 padding: 30px;
 text-align: center;
 border-radius: 10px;
 width: 100%;
 background: #DD6A53;
}

.category-icon {
 height: 55px;
}


.purecounter {
 font-size: 28px;
 margin-top: 4px;
 display: block;
 font-weight: 700;
 text-align: left;
 align-items: center;
 color: #fff;
}

.category-title{
 margin: 0;
 color: #fff;
 font-family: "Montserrat", sans-serif;
 font-size: 20px;
}

@media (max-width:766px ) {
 .count-box-pemasukan, .count-box-saldo, .count-box-pengeluaran {
  margin-bottom: 10px;
  padding: 0px;
 }

 .count-box-pemasukan, .count-box-saldo, .count-box-pengeluaran, .purecounter {
  font-size: 22px;
  padding-top: 5px;
  // padding-left:20px;
 }

 .count-box-pemasukan, .count-box-saldo, .count-box-pengeluaran, .category-title{
  font-size: 16px;
 }

 .count-box-pengeluaran {
  margin-top: 10px;
 }

 .category-icon {
  height: 55px;
  padding-top: 10px;
 }
}

@media (max-width:1000px) {
 .count-box-pengeluaran {
  margin-top: 10px;
  font-size: 23px;
 }
}