<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" content="Maneyfy, Manage your Money Easily">

    <title>Maneyfy | Manage your Money Easily</title>
    <link rel="manifest" href="./manifest.json">

    <!-- IMPORT ICON -->
    <link rel="preload" as="style" onload="this.rel = 'stylesheet'" href="https://fonts.googleapis.com/icon?family=Material+Icons&display=swap">
  </head>
  
  <body id="mainContent" tabindex="0">
    <div class="brand_logo">
      <a href="index.html">
        <picture>
          <!-- <source type="image/webp" srcset="${CONFIG.IMAGE_BRAND_LOGO_PATH}.webp">
          <source type="image/png" srcset="${CONFIG.IMAGE_BRAND_LOGO_PATH}.png"> -->
          <img src="../public/images/logo-title-black.png" alt="Maneyfy">
        </picture>
      </a>
    </div>
  </body>
</html>
