<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" content="Maneyfy, Manage your Money Easily">

    <title>Maneyfy | Manage your Money Easily</title>
    <link rel="manifest" href="./manifest.json">

    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous"> -->

    <!-- IMPORT ICON -->
    <link rel="preload" as="style" onload="this.rel = 'stylesheet'" href="https://fonts.googleapis.com/icon?family=Material+Icons&display=swap">
  </head>
  
  <body class="" id="mainContent" tabindex="0">
    <header class="header">
      <div class="app-bar">
        <div class="brand_logo">
          <a href="index.html">
            <picture>
              <!-- <source type="image/webp" srcset="${CONFIG.IMAGE_BRAND_LOGO_PATH}.webp">
              <source type="image/png" srcset="${CONFIG.IMAGE_BRAND_LOGO_PATH}.png"> -->
              <img class="logo"  src="..//public/images/logo-title-black.png" alt="Maneyfy">
            </picture>
          </a>
        </div>
        <div class="hamburger">
          <button id="btnMenu" aria-label="menu open"><span class="material-icons">menu</a></button>
        </div>
      
        <nav id="drawer" class="nav">
          <ul class="nav_list">
            <li class="nav_item"><a href="#/home"><span class="material-icons" aria-hidden="true">home</span> Home</a></li>
            <li class="nav_item"><a href="#/favorite"><span class="material-icons" aria-hidden="true">favorite</span> Favorite</a></li>
            <li class="nav_item"><a href="https://github.com/TegarNH" target="_blank" rel="noopener">Login</a></li>
          </ul>
        </nav>
      </div>
    </header>
    
    
    <div class="heros">
      <div class="headline">
        <div class="headline__content">
          <h1 class="headline__title">Kelola keuanganmu <br>dalam satu tempat</h1>
          <p class="headline__description">Merekap, Melacak, Mengontrol, hingga mengubah<br> kebiasaan dalam mengelola keuangan dengan Maneyfy.</p>
          <button class="headline__button">Pelajari</button>
        </div>
        <figure class="headline__figure">
          <img src="..//public/images/heros/hero-large.png" alt="Maneyfy-Hero-Image">
        </figure>
      </div>
    </div>

    <div class="fitur">
      <h1 class="title__main">Kenapa Memilih Maneyfy ?</h1>
      <div class="main-fitur">
          <div class="fitur__content">
            <h1 class="title-fitur1">Tambahkan dompet<br>sesukamu</h1>
            <p class="fitur__description">Kamu bisa menambahkan dompet tanpa batas<br>untuk memisahkan setiap kebutuhanmu.</p>
          </div>
          <figure class="fitur__figure">
            <img src="..//public/images/fitur/fitur-1.png" alt="Maneyfy-Hero-Image">
          </figure>
      </div>

      <div class="main-fitur">
        <div class="fitur__content-right">
          <h1 class="title-fitur1">Lihat laporan pencatatan<br>dengan mudah</h1>
          <p class="fitur__description">Riwayat pencatatan didesain agar kamu dapat<br>mengetahui laporan pencatatan dengan<br>mudah setiap bulannya.</p>
        </div>
        <figure class="fitur__figure report_img">
          <img src="..//public/images/fitur/fitur-2.png" alt="Maneyfy-Hero-Image">
        </figure>
      </div>

      <div class="main-fitur">
        <div class="fitur__content">
          <h1 class="title-fitur1">Kategori membantumu<br>lebih fokus</h1>
          <p class="fitur__description">Anda dapat mengelompokkan pencatatan berdasarkan kategori.<br>Selain itu kamu juga dapat menambahkan kategori<br>baru sesuai kebutuhanmu.</p>
        </div>
        <figure class="fitur__figure">
          <img src="..//public/images/fitur/fitur-3.png" alt="Maneyfy-Hero-Image">
        </figure>
      </div>

      <div class="main-fitur">
        <div class="fitur__content-right">
          <h1 class="title-fitur1">Ubah kebiasaan buruk dalam mengatur keuangan</h1>
          <p class="fitur__description">Maneyfy dapat memberikan kamu tips dan saran, sehingga membantu kamu tetap konsisten<br>dalam mengelola keuangan.</p>
        </div>
        <figure class="fitur__figure">
          <img src="..//public/images/fitur/fitur-4.png" alt="Maneyfy-Hero-Image">
        </figure>
      </div>

    </div>

    <div class="daftar">
      <div class="heading">
        <div class="heading__daftar">
          <h1 class="heading__title">Nikmati kemudahan dalam<br>melakukan pencatatan<br>keuangan bersama Maneyfy</h1>
          <button class="heading__button">Daftar Sekarang</button>
        </div>
        <figure class="heading__figure">
          <img src="..//public/images/fitur/growth.png" alt="Maneyfy-Hero-Image">
        </figure>
      </div>
    </div>
    
      <footer>
        <p><a href="https://www.linkedin.com/in/irfando-irfando-331a17232/">Copyright 2022 - Maneyfy </p>
      </footer>

  </body>
</html>
