<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" content="Maneyfy, Manage your Money Easily">

    <title>Maneyfy | Manage your Money Easily</title>
    <link rel="manifest" href="./manifest.json">

    <!-- IMPORT ICON -->
    <link rel="preload" as="style" onload="this.rel = 'stylesheet'" href="https://fonts.googleapis.com/icon?family=Material+Icons&display=swap">
  </head>
  
  <body class="container" id="mainContent" tabindex="0">
    <header class="header">
      <div class="app-bar">
        <div class="brand_logo">
          <a href="index.html">
            <picture>
              <!-- <source type="image/webp" srcset="${CONFIG.IMAGE_BRAND_LOGO_PATH}.webp">
              <source type="image/png" srcset="${CONFIG.IMAGE_BRAND_LOGO_PATH}.png"> -->
              <img class="logo"  src="..//public/images/logo-title-black.png" alt="Maneyfy">
            </picture>
          </a>
        </div>
        <div class="hamburger">
          <button id="btnMenu" aria-label="menu open"><span class="material-icons">menu</a></button>
        </div>
      
        <nav id="drawer" class="nav">
          <ul class="nav_list">
            <li class="nav_item"><a href="#/home"><span class="material-icons" aria-hidden="true">home</span> Home</a></li>
            <li class="nav_item"><a href="#/favorite"><span class="material-icons" aria-hidden="true">favorite</span> Favorite</a></li>
            <li class="nav_item"><a href="https://github.com/TegarNH" target="_blank" rel="noopener">Login</a></li>
          </ul>
        </nav>
      </div>
    </header>
    
    
    <div class="heros">
      <div class="headline">
        <div class="headline__content">
          <h1 class="headline__title">Kelola keuanganmu <br>dalam satu tempat</h1>
          <p class="headline__description">Merekap, Melacak, Mengontrol, hingga mengubah<br> kebiasaan dalam mengelola keuangan dengan Maneyfy.</p>
          <button class="headline__button">Read More</button>
        </div>
        <figure class="headline__figure">
          <img src="..//public/images/heros/hero-large.png" alt="Maneyfy-Hero-Image">
        </figure>
      </div>
    </div>

    <div class="fitur">
      <h1 class="title__main">Kenapa Memilih Maneyfy ?</h1>
      <div class="container main-fitur">
        <div class="headline">
          <div class="headline__content">
            <h1 class="title-fitur1">Tambahkan dompet <br>sesukamu</h1>
            <p class="headline__description">Merekap, Melacak, Mengontrol, hingga mengubah<br> kebiasaan dalam mengelola keuangan dengan Maneyfy.</p>
          </div>
          <figure class="headline__figure">
            <img src="..//public/images/heros/hero-large.png" alt="Maneyfy-Hero-Image">
          </figure>
        </div>
      </div>
    </div>
    
    

  </body>
</html>
