@import '../components/header-side-bar';

// Landing Page
@import 'landing/footer';
@import 'landing/reDesignAppBar';
@import 'landing/reDesignDaftar';
@import 'landing/reDesignFeature';
@import 'landing/reDesignHero';

// Dashboard Page
@import 'dashboard/dashboard-page';

// Login-Register Page
@import 'loginRegister/login-register';

// Profile Page
@import 'profile/profile';

// Tips Page
@import 'tips/tips-page';


:root {
  --header-height: 4rem; // = 64px
  --nav-width: 6.25rem; // = 100px
  --z-fixed: 100;
}
