/*
   Footer
 */

 footer {
  margin-top: 7rem;
  padding: 16px;
  background-color: white;
 }
 
 footer p {
  text-align: center;
  color: #ffffff;
 }
 
 footer p a {
  color:#404040 ;
  display: inline-block;
  font-weight: 700;
   // min-width: 44px;
   // min-height: 44px;
  text-decoration: none;
 }