/*
   Footer
 */

footer {
  margin-top: 7rem;
  padding: 0 16px;
  background-color: white;

  p {
    margin: auto 0;
    text-align: center;
    color: #ffffff;

    a {
      padding: 16px 0;
      color:#404040 ;
      display: inline-block;
      font-weight: 700;
      text-decoration: none;
    }
  }
}