.material-icons {
  padding-bottom: 3px;
  vertical-align: middle !important;
}

.btn-primary-color {
  background-color: $primary-color;
  font-weight: 700;
  border-radius: 10px;
  border: 0;
  padding: 0.7rem 0;
  box-shadow: 0px 5px 30px rgb(216 220 255 / 40%);
}

.btn-danger-color {
  background-color: $background-logout;
  font-weight: 700;
  border-radius: 10px;
  border: 0;
  padding: 0.7rem 0;
  box-shadow: 0px 5px 30px rgb(216 220 255 / 40%);
}

.color-primary {
  color: $primary-color;
}

.color-danger {
  color: $background-logout;
}

.icon-header {
  width: 25px;
  height: 25px;
}

.large {
  font-size: 1.5rem;
}

.icon-large {
  font-size: 1.75rem;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid rgb(185, 185, 185);
  border-radius: 10px;
}