$breakpoint: (
  'small-mobile': 100px, 
  'mobile': 500px, 
  'tablet': 650px, 
  'desktop': 1100px, 
  'desktop-large': 1600px
);


// COLOR //
$primary-color: #42B2FA;

$font-color-grey: #404040;

$background-very-light-blue: #eff7ff;
$background-light-blue: #accbec;

$icon-active: #0093ed;
$icon-active-background: #D4EEFF;

$background-wallet: #709FB9;
$background-logout: #c75957;

$background-font-income: #3bab96;
$background-font-outcome: #d56e57;

$background-dropdown-month: #d0e3ee;
