@import '../../propertise/variabels';
@import '../../propertise/helper';
@import '../../propertise/mixins';

body {
  background-color: $background-very-light-blue;
}
.titlePage {
  font-weight: bold;
}

.profil {
  background-color: #ffff;
  align-items: center;
  padding: 0.8rem;
  padding-top: 7rem;
  border-radius: 35px;
  background-image: url('/src/public/images/backgroundProfil.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 12rem;

  @include media-in(mobile) {
    height: 15rem;
  }

  @include media-in(tablet) {
    height: 17rem;
  }

  @include media-in(desktop) {
    height: 18rem;
    // padding: 0.8rem 1.5rem;
  }

  .foto {
    // text-align: center;
    justify-content: center;
  }

  .edit {
    width: 44px;
    height: 44px;
    background-color: #65ddf7;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .desc {
    .name {
      font-size: 1rem;
      font-weight: bold;
      margin-bottom: 0;
      display: -webkit-box;
      --webkit-line-clamp: 1;
      --webkit-box-orient: vertical;
      overflow: hidden;

      @include media-in(mobile) {
        font-size: 1.3rem;
      }

      @include media-in(desktop) {
        font-size: 1.6rem;
      }
    }
    .email {
      font-size: 0.8rem;
      margin-bottom: 0;

      @include media-in(mobile) {
        font-size: 1.1rem;
      }

      @include media-in(desktop) {
        font-size: 1.4rem;
      }
    }
    

    @include media-in(desktop) {
      padding-top: 3rem;
    }
  }
}

.kelola {
  padding: 1.7rem 1rem;
  background-color: #ffff;
  gap: 1.5rem;
  justify-content: center;
  border-radius: 35px;
  .titleKelola {
    font-size: 1.2rem;
    font-weight: bold;
    background-color: transparent;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include media-in(tablet) {
      font-size: 1.5rem;
      height: 100%;
    }
  }
  .pemasukan {
    background-color: $background-font-income;
    padding: 1em;
    border-radius: 20px;
    transition: 0.3s;
    &:hover {
      background-color: #66cabb;
    }
    .button {
      justify-content: end;
      display: flex;
    }
    h5 {
      margin-bottom: 1.5rem;
      font-weight: bold;
    }
  }
  .dompet {
    background-color: $background-amount-wallet;
    padding: 1em;
    border-radius: 20px;
    transition: 0.3s;
    &:hover {
      background-color: #93b5c7;
    }
    .button {
      justify-content: end;
      display: flex;
    }
    h5 {
      margin-bottom: 1.5rem;
      font-weight: bold;
    }
  }
  .pengeluaran {
    background-color: $background-font-outcome;
    padding: 1em;
    border-radius: 20px;
    transition: 0.3s;
    &:hover {
      background-color: #d19387;
    }
    .button {
      justify-content: end;
      display: flex;
    }
    h5 {
      margin-bottom: 1.5rem;
      font-weight: bold;
    }
  }
  .modal-content {
    background-color: #eef7ff;
  }
  .btn-add {
    display: flex;
    width: 55px;
    height: 55px;
    align-items: center;
    justify-content: center;
    background-color: $primary-color;
    border-radius: 50%;
    border: 0;
    color: white;

    p {
      margin: 0;
      font-size: 3rem;
    }
  }
}

.modal-confirm {
  padding: 0 1rem !important;
  text-align: center;
}

.btn-close {
  border: 1px solid black;
}

.label-item {
  font-weight: 600;
}

.item-container {
  text-align: left;
}

.icon-select {
  cursor: pointer;
  transition: 0.3s;
  &:focus {
    border: 3px solid rgba(0, 114, 228, 0.705);
    width: fit-content;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(6, 80, 229, 0.5);
  }
}

.icon-list {
  height: 3rem;
  margin-right: 10px;
}

.logo {
  height: 4rem;
}

.btn-icon-delete:disabled {
  background-color: #7b7b7b;
  .text-danger {
    color: #000000 !important;
  }
}

.icon-image {
  height: 5.2rem;
  width: 5.2rem;
  border-radius: 50%;
}

.grid-icon-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(85px, 1fr));
  gap: 10px;
  padding-bottom: 1rem;

  item-icon {
    justify-self: center;
  }
}

.photo-profile {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  object-fit: cover;

  @include media-in(mobile) {
    height: 5rem;
    width: 5rem;
  }

  @include media-in(tablet) {
    height: 7rem;
    width: 7rem;
  }

  @include media-in(desktop) {
    height: 9rem;
    width: 9rem;
  }
}

#uploadBtn {
  cursor: grab;
}

#photo {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  object-fit: cover;
}
