.body-logged-in {
  position: relative;
  margin: calc(var(--header-height) + 1rem) 0 0 0;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: $background-very-light-blue;
  font-size: 1rem;
  transition: 0.5s;

  @include media-in(tablet) {
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 1rem);
  }
}

.tambah-transaksi {
  justify-content: center;
}

.form-transaksi {
  align-self: center;
  border-width: 1px;
  border-style: solid;
  border-radius: 1rem;
  height: 6rem;
  margin: 0.7rem;
  width: 95%;
  text-align: center;

  @include media-in(desktop) {
    flex-basis: 30%;
  }
}

.pilih-dompet {
  padding-top: 1rem;
  align-items: center;
}

.pilih-kategori {
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.large-form {
  border-width: 1px;
  height: 6rem;
  margin: 0.7rem;
  align-self: center;
  border-style: solid;
  border-radius: 1rem;
  padding-right: 1rem;
  width: 95%;

  @include media-in(desktop) {
    flex-basis: 63%;
  }
}

.kategori-icon {
  object-fit: cover;
  align-items: center;
  border-radius: 50%;
}

.kategori-list {
  height: 100%;
  @include media-in(tablet) {
    height: 8rem;
  }
}

.nominal {
  font-weight: bold;
  font-size: 1.5rem;
}

.detail-desc {
  .nama-kategori {
  }
  .tanggal {
    font-weight: lighter;
  }
  .nama-transaksi {
    font-weight: bold;
    font-size: 1.5rem;
  }
}
